.toolbar{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
.container{
  position: absolute;
  top:40%;
}
.inputitem{
  border: 2px solid rgb(185, 248, 185);
  border-radius: 10px;
  margin: 0 6% 4% 6%;
  width: 100%;
}
.inputfields{
  margin-left: 20px;
}
ion-checkbox{
  --size: 15px;
}
ion-button{
  --box-shadow: 10px;
  --border-radius: 8px
}
.loginbtn{
  height: 170%;
  margin: 2% 6% 2% 6%;
}
.subcontrol{
  margin-left:3%;
  margin-right:3%;
}




