.customtablestyle{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;

  th{
    font-weight: normal;
    width:200px;

  }

  td{
    font-weight: bold;
  }

  tr{
    margin: 1%;
  }

}
