<ion-content>
  <br>
    <h3 style="text-align: center; color: #00c22a;">All Request</h3>

    <ion-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #00c22a;">
              Request 1
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table class="table table-striped " style="text-align: left;">
              <tbody>
                <tr>
                  <th>Team Name</th>
                  <td>Team A</td>
                </tr>
                <tr>
                  <th>Material</th>
                  <td>Metal Pipe</td>
                </tr>
                <tr>
                  <th>Date</th>
                  <td>20-05-2021</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td>Virar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel><br>
      </mat-accordion>
    </ion-card-content>

    <ion-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #00c22a;">
              Request 2
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table class="table table-striped " style="text-align: left;">
              <tbody>
                <tr>
                  <th>Team Name</th>
                  <td>Team B</td>
                </tr>
                <tr>
                  <th>Material</th>
                  <td>Gloves</td>
                </tr>
                <tr>
                  <th>Date</th>
                  <td>20-05-2021</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td>Virar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel><br>
      </mat-accordion>
    </ion-card-content>

    <ion-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #00c22a;">
              Request 3
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <table class="table table-striped " style="text-align: left;">
              <tbody>
                <tr>
                  <th>Team Name</th>
                  <td>Team C</td>
                </tr>
                <tr>
                  <th>Material</th>
                  <td>Cement</td>
                </tr>
                <tr>
                  <th>Date</th>
                  <td>20-05-2021</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td>Virar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel><br>
      </mat-accordion>
    </ion-card-content>



</ion-content>

