<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar">
    <ion-buttons slot="start" size="large">
      <ion-menu-button autoHide="false">
        <ion-icon src="../../assets/icon/menu.svg" style="color: white;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title><b>All Tasks</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
    <ion-card-content *ngFor="let item of tasks_keys; let i = index">
      <div>
        <ion-list>
          <ion-item>
            <ion-label> Task {{i+1}} - {{item}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>

</ion-content>
